POSTGRES_DB=chesstracker
POSTGRES_USER=chesstracker
POSTGRES_PASSWORD=change-me

APP_PORT=8080
SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://chesstracker-db:5432/chesstracker
SPRING_DATASOURCE_USERNAME=chesstracker
SPRING_DATASOURCE_PASSWORD=change-me
